<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Insert" />
  </system.web>
  <connectionStrings xdt:Transform="Replace">
    <add name="dbConexion" connectionString="Data Source=cxsql01\desarrollo; Initial Catalog=ConexionNew;user id=sa;password=HDAy3VT7Z6EfGDa2;" providerName="System.Data.SqlClient" />   
  </connectionStrings>
</configuration>