
@{
    ViewBag.Title = "Payroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Theme CSS -->
<link href="~/Content/vendor/bootstrap/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/vendor/bootstrap/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />

<!--Scripts-->
<script src="~/Content/vendor/bootstrap/js/jquery.dataTables.js"></script>
<script src="~/Content/vendor/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/Content/vendor/bootstrap/js/dataTables.fixedColumns.js"></script>
<script src="~/Content/scripts/Payroll/Payroll.js"></script>
<!--Scripts-->
<!--Buttons-->
<div class="row" style="text-align: center; padding-left: 10%; padding-top: 2%; width: 50%">
  <div class="col-md-12 col-xs-12" style:"padding">
    <div class="col-md-6 col-xs-12">
      <input class="form-control form-control-lg" id="txtIdEmployee" type="number" placeholder="Employee Id">
    </div>
    <div class="col-md-6 col-xs-12">
        <input type="button" id="btnCalculate" class="btn btn-primary trn pull-left btn-request" data-trn-key-input="Calculate" />
    </div>
  </div>
  <br/>
  <br/>
  <div>
     <div class="col-sm-12">
        <table id="xTable" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" style="width: 100%;">
            <thead>
                <tr>
                    <th class="trn">Id</th>
                    <th class="trn">Name</th>
                    <th class="trn">Contract Type Name</th>
                    <th class="trn">Role Name</th>
                    <th class="trn">Hourly Salary</th>
                    <th class="trn">Monthly Salary</th>
                    <th class="trn">Annual Salary</th>
                </tr>
            </thead>
        </table>
    </div>
  </div>
</div>
<br />
<!--Buttons-->

